{{ form_start(form) }}
<div id="primer_bloque">
    <h1>Crear Nuevo Elemento</h1>
    <div>
    {{ form_widget(form.nombre, {'attr': {'class': 'form__field', 'autocomplete': 'off'}}) }}
    <label for="nombre" class="form__label">Nombre</label>
</div>

</div>

<div id="segundo_bloque" class="div_grid">
        {{ form_row(form.html) }}
</div>
<div id="tercer_bloque" class="div_grid">
        {{ form_row(form.css) }}
</div>
<div id="botonera">
    <button id="button_guardar">
        <div class="svg-wrapper-1">
            <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h12l2 2v16a2 2 0 0 1-2 2z"></path>
                    <path d="M7 3v4h10V3"></path>
                    <polyline points="9 13 12 16 15 13"></polyline>
                    <polyline points="17 11 12 16 9 13"></polyline>
                  </svg>
                </svg>
            </div>
        </div>
        <span>Guardar</span>
    </button>
</div>

{{ form_end(form) }}